* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #f7c08a;
}

.container {
    max-width: 960px;
    margin: auto;
}

.primary-text {
    color: #f7c08a;
}

.primary-bg {
    background-color: #f7c08a !important;
}

.btn {
    font-size: 18px;
    background: #333;
    color: #f4f4f4;
    padding: 15px;
    border-radius: 5px;    
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.clear {
    clear: both;
}


/* NAVBAR */
#navbar {
    background-color: #333;
    height: 60px;
}


#navbar h1 {    
    float: left;  
    padding: 10px; 
    color: #fff;  
}

#navbar ul {
    list-style: none;    
    float: right;
}



#navbar li {      
    padding: 20px;    
    float: left;
}



/* Showcase */
#showcase {
    background: url(./../img/showcase.jpg) no-repeat center center/cover;
    height: 400px;
}

#showcase p {
    margin-bottom: 10px;
}

.showcase-content {
    text-align: center;
    color: #fff;
    padding-top: 120px;
    line-height: 2.2em;
}

.showcase-content a:hover {
    text-decoration: underline;
    color: #f7c08a;
}

/* home-info */
#home-info {
    height: 300px;
}

#home-info .info-img {   
    background: url(./../img/photo-1.jpg) no-repeat center center/cover; 
    height: 100%;
    width: 50%;
    float: left;
}

#home-info .info-content {    
    height: 100%;
    width: 50%;
    float: left;
    padding-top: 40px;

    background: #333;
    color: white;
    text-align: center;
}

#home-info h2 {
    padding: 10px;
}

#home-info p {
    margin-bottom: 50px;
}

/* FEatures */
#features {
    text-align: center;
}

.box {
    width: 33.3%;
    float: left;
    padding: 50px;
    background: #ece9e9;
    color: #333;
}

.box i {
    font-size: 50px;
}

/* FOOTER */
#main-footer {
    background: #333;
    color: white;
    text-align: center;
    width: 100%;

    padding: 20px;
}


/* INFO-LEFT */
#about-info {
    padding: 20px;
    text-align: justify;
    background: #ece9e9;
}

#about-info .info-left {
    width: 50%;
    float: left;
}

#about-info .info-right {
    width: 50%;
    float: left;
}

#about-info .info-right img {
    width: 60%;    
    border-radius: 50%;
    margin: auto;
    display: block;
}

/* TESTIMONIALS */
#testimonials {
    height: 500px;
    background: url(./../img/test-bg.jpg) no-repeat center center/cover;
}

#testimonials h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#testimonials .testimonial {
    padding: 20px;
    height: 150px;
    margin: 0 15px 20px 15px;
    border-radius: 5px;
    opacity: 0.8;
}

#testimonials .testimonial img {
    float: left;
    width: 100px;
    border-radius: 50%;
}

/* Contact-Heading */
#contact-head {

    height: 100px;
    width: 100%;
    padding: 0px 0px 15px 0px;
    margin: 15px 0px 10px 10px;
    border-radius: 5px;
    box-sizing: border-box;
}

#contact-head h2 {

    height: 60px;
    padding: 5px;
}

/* Input and Label Section */

.form-group input {
        
    width: 100%;
    padding: 0px 0px 15px 0px;
    margin: 15px 0px 10px 10px;
    border-style: groove;
    border-radius: 5px;
    box-sizing: border-box;
   
  }

.form-group label {
        
    max-width: 100%;
    padding: 0px 0px 15px 0px;
    margin: 15px 0px 10px 10px;
    border-radius: 5px;
    box-sizing: border-box;
   
  }

.form-group #message {

    max-width: 100%;
    padding: 150px 0px 15px 0px;
    margin: 5px 0px 10px 10px;
    border-style: groove;
    border-radius: 5px;
    box-sizing: border-box;

}
 
/* Submit Button */
#submit {

    margin: auto;
    font-size: 16px;
    background: #333;
    color: #f4f4f4;
    padding: 10px 10px;
    border-radius: 8px;    
}

/* Contact Info */
#contact-features {
    text-align: center;
    
}

.box {
    width: 33.3%;
    float: left;
    padding: 35px 0px 35px 0px;
    background: #333;
    color: #ece9e9;
}

.box i {
    font-size: 35px;
}

.box h3{
    margin-top: 10px;
}

.box p {
    margin-top: 20px;
    font-size: 15px;
}